.inputClass,
.inputErrorClass {
  padding: 8px;
  width: 270px;
  font-size: 18px;
  &.readOnly {
    background-color: #cccccc;
  }
}
input:focus {
  outline: none;
}
.input-details {
  margin-bottom: 14px;

  .inputErrorMsg {
    color: red;
    font-size: 14px;
  }
}

.table-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  .table-details {
    td,
    th {
      padding: 10px;
    }
    th {
      cursor: pointer;
    }
  }
}

.download-excel-main {
  margin-left: 15px;
  .download-excel {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 120px;
    background: #eeeeee;
    border: 1px solid #bebebe;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px;
    .download-icon {
      height: 22px;
      width: 22px;
    }
    .download-text {
      padding-left: 5px;
      color: #1c1c1c;
    }
  }
}
