@mixin main {
  margin: 120px auto;
  width: 500px;
  border: 1px solid #bebebe;
  padding: 24px;
}
.registration,
.login-details {
  @include main();
}

.product-details {
  @include main();
  margin: 50px auto;
  width: 400px;
}

.register-form,
.login-form,
.product-form {
  text-align: center;
}

.btns,
.button-container {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

@mixin buttons {
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.register-btn,
.login-btn {
  @include buttons();
  background-color: green;
}

.cancel-btn {
  @include buttons();
  background-color: red;
  margin-left: 15px;
}

.registration-title,
.login-header {
  text-align: center;
  font-size: 35px;
  font-family: cursive;
  color: coral;
  font-weight: 700;
  margin-bottom: 14px;
}

.register-label {
  color: blue;
  font-size: 14px;
  cursor: pointer;
}
