.login-details {
  border: 1px solid #bebebe;
  padding: 40px 20px;
  margin: 0 auto;
}

.registration {
  margin: 120px auto;
  width: 500px;
  border: 1px solid #bebebe;
  padding: 24px;
}

.register-form {
  text-align: center;
}

.btns {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

@mixin buttons {
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.register-btn {
  @include buttons();
  background-color: green;
}

.cancel-btn {
  @include buttons();
  background-color: red;
  margin-left: 15px;
}

.registration-title {
  text-align: center;
  font-size: 35px;
  font-family: cursive;
  color: coral;
  font-weight: 700;
  margin-bottom: 14px;
}
